// IMPORTED LIBRARIES
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./_paletton-colors.scss";

// STYLES - UNIVERSAL
*{box-sizing: border-box;};

#app-container{
	background-color: $color-primary-0;
}

#app-container h1{
	color: #FFF;
	margin: 0;
	padding: 16px;
}

// STYLES - MULTI-VIEW
.route-container{
	background-color: $color-secondary-2-0;
}

.item-pane{
	background-color: $color-secondary-1-0;
	border: 4px solid $color-secondary-1-4;
}

// STYLES - SINGLE ITEM VIEW
.columns-container{font-size: 0};

.image-column, .info-column{
	display: inline-block;
}

.info-column{
	font-size: 16px;
}

.info-column td{
	padding-left: 16px;
}
